{% for row in models.data %}{
 "type": "vizon:GraphVisualization",
 "source": "{{row.source.value}}",
 "date": "{{row.date.value}}",
 "series": ["{{row.series.value}}"],
 "group": "{{row.group.value}}"
}
{%endfor%}
