.viz-container{
border: 1px #333 solid;
margin-top: 5px;
width:80%
}
.dataset-container{
margin-right: 25px;
resizable: both;
overflow: hidden;
}
.menu-button{
float: left;
}
.button-container{
display:inline-block;
width:100%;
}
.boxsizingBorder {
  width: 98%;
  font-size: 200%;
	min-height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}​
