<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Page about {{lodspk.this.value}}</title>
    <link rel="alternate" type="application/rdf+xml" title="RDF/XML Version" href="{{lodspk.this.value}}.rdf" />
    <link rel="alternate" type="text/turtle" title="Turtle Version" href="{{lodspk.this.value}}.ttl" />
    <link rel="alternate" type="text/plain" title="N-Triples Version" href="{{lodspk.this.value}}.nt" />
    <link rel="alternate" type="application/json" title="RDFJSON Version" href="{{lodspk.this.value}}.json" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
    <script type="text/javascript" src="recline/vendor/jquery/1.7.1/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
{%include "../../menu.inc"%}
<div class="container">
  <div class="well span4">
  <table class="table table-striped">
  <thead>
    <tr>
     <th>Latest visualizations</th>
    </tr>
    </thead>
{%for row in models.vis%}
     <tr><td><a href='{{row.visualization.value}}'><span class="label label-info">{{row.d.value|date:'M dS Y'}}</span> {{row.visualization.curie}}</a></td></tr>
{%endfor%}
    </table>
  </div>
  
<div class="well span6">
  <table class="table table-striped">
  <thead>
    <tr>
     <th>Latest datasets</th>
    </tr>
    </thead>
{%for row in models.data%}
    <tr><td><span class="label label-info">{{row.d.value|date:'M dS Y'}}</span><a href='{{row.data.value}}'><i class="icon-search"></i>{{row.data.curie|explode:":"|pop}}</a><div style="text-align:right">Taken from <a href='{{row.source.value}}'>{{row.source.value}}</a></div></td></tr>
{%endfor%}
    </table>
  </div>
</div> <!-- /container -->

</body>
</html>
