{% for row in models.data %}{
 "type": "vizon:MapVisualization",
 "source": "{{row.source.value}}",
 "date": "{{row.date.value}}",
 "latField": "{{row.lat.value}}",
 "lonField": "{{row.lon.value}}"
}
{%endfor%}
