{% for row in models.data %}{
 "type": "vizon:MapVisualization",
 "source": "{{row.source.value}}",
 "date": "{{row.date.value}}",
 "latField": "{{row.lat.value}}",
 "lonField": "{{row.lon.value}}",
 "id": "{{uri}}"{%if row.sortVar.value%},
 "sortVariable": "{{row.sortVar.value}}",
 "sortOrder": "{{row.sortOrder.value}}"{%endif%}
}
{%endfor%}
