.viz-container{
border: 1px #333 solid;
margin-top: 5px;
width:80%
}
.dataset-container{
margin-right: 25px;
resizable: both;
overflow: hidden;
border: 3px solid #cccccc;
}
.menu-button{
float: left;
}
.button-container{
display:inline-block;
width:100%;
}
.export-dialog{
  float:right;
  display:inline-block;
}
.boxsizingBorder {
  width: 98%;
  font-size: 150%;
  line-height: 120%;
	min-height: 100px;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}​
.grid{
max-width:500px;
width:500px;
}
