{% for row in models.data %}{
 "type": "vizon:GridVisualization",
 "title": "{{row.vizTitle.value}}",
 "source": "{{row.source.value}}",
 "date": "{{row.date.value}}",
 "id": "{{uri}}"{%if row.sortVar.value%},
 "sortVariable": "{{row.sortVar.value}}",
 "sortOrder": "{{row.sortOrder.value}}"{%endif%}
}
{%endfor%}
